<article class="brand-content-center">
  <div class="flex content-between h-full w-[90%] justify-center items-center gap-5 py-[5%]">
    <section class="w-[50%] h-full hidden md:flex">
      <img
        src="../../../../assets/images/loginandregiter.png"
        alt="Login"
        style="width: 500px; height: 500px"
      />
    </section>
    <section
      class="flex w-90% md:w-[50%] h-full flex-col justify-center items-center text-center p-10 rounded-lg border bg-white border-gray-800 text-black"
    >
      <span class="text-2xl font-black">Iniciar Sesión</span>
      <span class="text-lg">Bienvenido, ingrese sus datos</span>
      <form [formGroup]="form" class="flex flex-col w-full items-center">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Número de identificación</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput formControlName="numberType" />
          <mat-error *ngIf="form.get('numberType')?.hasError('required')">
            Número de identificación requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Contraseña</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password" />
          <button matSuffix mat-icon-button (click)="showPassword = !showPassword" class="mr-1">
            <fa-icon [icon]="showPassword ? eyeOpen : eyeClose"></fa-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Contraseña requerida
          </mat-error>
        </mat-form-field>

        <div class="flex text-lg font-medium">
          <button class="bg-blue-800 hover:text-blue-400 rounded-full p-2" (click)="login()">
            Iniciar sesión
          </button>
        </div>

        <a
          routerLink="/auth/recovery-password"
          class="cursor-pointer text-blue-800 hover:text-blue-400 hover-underline-animation"
          >¿Olvidaste tu contraseña?</a
        >
        <span
          >¿No tienes una cuenta?
          <a
            routerLink="/auth/register"
            class="cursor-pointer text-blue-800 hover:text-blue-400 hover-underline-animation"
            >Registrarse</a
          ></span
        >
      </form>
    </section>
  </div>
</article>
