# Node.js y dependencias
node_modules/
 
package-lock.json
pnpm-lock.yaml
yarn.lock

# Archivos de compilación
*.min.js
*.min.css
*.map
*.d.ts

# Configuración del entorno
.env
*.local

# Angular
.angular/
coverage/  # Resultados de pruebas
