@use 'variables.scss' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heigth-nav-bar;
  background-color: $header-background;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  height: $heigth-footer;
  background-color: $footer-background;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  color: white;
}

.main {
  display: flex;
  width: 100%;
  margin-top: $heigth-nav-bar !important;
  padding-bottom: $heigth-footer !important;
  justify-content: center;
  align-items: center;

  color: black;
}
