@use 'variables.scss' as *;

// CSS de navbar
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heigth-nav-bar;
  background-color: $header-background;
}

// CSS de footer
.footer {
  display: flex;
  width: 100%;
  min-height: $heigth-footer;
  background-color: $footer-background;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: $heigth-nav-bar;
  // padding-bottom: $heigth-footer;
}

// Clase donde se renderiza contenido
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thick;
  scrollbar-color: #888 #f1f1f1;
}

// Centra navbar y footer
.brand-navigation-center {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

// Centra contenido en general
.brand-content-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

/* Toast clases */
.toast-container {
  margin-top: $heigth-nav-bar;
  overflow: hidden;

  &.ngx-toastr {
    pointer-events: auto;
    position: fixed;
    z-index: 9999;
    width: auto;
    max-width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    animation: slideInRight 0.2s ease-in forwards;

    .toast-icon {
      font-size: 1.5rem;
      position: absolute;
      top: 8px;
      left: 10px;
    }

    .toast-body {
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      .toast-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 5px;
      }

      .toast-message {
        font-size: 0.95rem;
      }
    }

    .toast-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: transparent;
    }

    &.brand-toast-success {
      border: 1px solid $toast-success-border;
      color: $toast-success-color;

      .toast-progress {
        background-color: $toast-success-border;
      }
    }

    &.brand-toast-warning {
      border: 1px solid $toast-warning-border;
      color: $toast-warning-color;

      .toast-progress {
        background-color: $toast-warning-border;
      }
    }

    &.brand-toast-error {
      border: 1px solid $toast-error-border;
      color: $toast-error-color;

      .toast-progress {
        background-color: $toast-error-border;
      }
    }

    &.brand-toast-info {
      border: 1px solid $toast-info-border;
      color: $toast-info-color;

      .toast-progress {
        background-color: $toast-info-border;
      }
    }
  }
}

.brand-text-headline-color {
  @apply text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text;
}
